{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 1 -}}
<div class="pagination">
    <ul>
        {{- $begin := 0 -}}
        {{- $end := 0 -}}

        {{if lt $paginator.TotalPages 5}}
        {{- $begin = 0 -}}
        {{- $end = $paginator.TotalPages -}}
        {{else}}

        {{- $begin = sub .PageNumber 2 -}}
        {{- $end = add .PageNumber 2 -}}
        {{if lt $begin 0}}
        {{- $begin = 0 -}}
        {{- $end = add $begin  5 -}}
        {{end}}
        {{if gt $end $paginator.TotalPages }}
        {{- $begin = sub $paginator.TotalPages 5 -}}
        {{- $end = $paginator.TotalPages -}}
        {{end}}
        {{end}}

        {{if ne $begin 0}}
        <li><a href="{{- $paginator.First.URL -}}">{{- $paginator.First.PageNumber -}}</a></li>
        {{end}}
        {{if $paginator.HasPrev}}

        <li><a href="{{- $paginator.Prev.URL -}}" class="previous_page">&laquo;</a></li>
        {{end}}
        {{- range $paginator.Pagers -}}
        {{- if and (ge .PageNumber $begin) (le .PageNumber $end) -}}
        {{- $active := "" -}}
        {{- if eq .PageNumber $paginator.PageNumber -}}
        {{- $active = "active" -}}
        {{- end -}}
        <li><a class="{{- $active -}}" href="{{- .URL -}}">{{- .PageNumber -}}</a></li>
        {{end}}
        {{end}}
        {{if $paginator.HasNext}}
        <li><a href="{{- $paginator.Next.URL -}}">&raquo;</a></li>
        {{end}}
        {{if ne $end $paginator.Last.PageNumber}}
        <li><a href="{{- $paginator.Last.URL -}}">{{- $paginator.Last.PageNumber -}}</a></li>
        {{end}}
    </ul>
</div>
{{- end -}}